body {
    justify-content: flex-start;
    margin-left: 30px;
}

.head {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

a {
    color: black;
    text-decoration: none;
}

.topContent {
    border-bottom: 3px black dotted;
    margin-bottom: 15px;
    padding: 25px;
    margin: 10px;
}

.middle1, .middle2 {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px black dotted;
    padding: 25px;
    margin: 20px;
}

p {
    line-height: 1.25;
    margin: 20px 0;
    flex-direction: column;
    text-align: left;
}

.foot {
    color: white;
    /* background: black; */
    width: 400px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
